/* global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e6f3ff;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

/* main content area */
.main-content {
  flex: 1;
  padding-top: 20px; 
}

/* style nav bar */
.custom-nav-link {
  transition: all 0.1s ease;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.custom-nav-link:hover {
  background-color: #e6f3ff;
  color: #006bad;
}

/* active nav bar */
.active-nav-link {
  background-color: #e6f3ff;
  color: #006bad;
  font-weight: 500;
}

.navbar {
  width: 100vw;
  max-width: 100%;
}

/* container width */
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100vw;
  max-width: 100%;
}

/* style card */
.card {
  transition: transform 0.3s ease;
  background-color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/* style quote */
blockquote {
  padding: 10px;
  margin-bottom: 0;
}

blockquote p {
  font-size: 1.2rem;
  color: #000;
  line-height: 1.8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.quote-text {
  display: block;
  width: 100%;
}

.w-100 {
  width: 100% ;
}

/* Navigation styles */
.nav-link:hover,
.nav-link.active {
  background-color: #e6f3ff;
  color: #006bad !important;
  border-radius: 4px;
  font-weight: bold;
}
